################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/iocpsock/FileContentIndex/2c424b2b-c7d7-4743-9409-507b8a77aa1f.vsidx
/.vs/iocpsock/FileContentIndex/d035403a-a45d-4e9e-9c36-fc3046e2a8dd.vsidx
